<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sundays BEM</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="Card" >
        <img class="Card__imagen" src="../img/Restaurante asiatico fondo.webp" alt="Imagen restaurante oriental BEM">
        <div>
            <h1 class="Card__titulo" >Sundays BEM Caja</h1>
            <p class="Card__descripcion" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum amet, repellat aliquam incidunt illum
                error similique blanditiis culpa. Ipsa expedita omnis alias repellat magnam dolore velit officia tempore
                ipsum eius!</p>
                <button class="Card__boton">Submit-enviar</button>
                <button class="Card__boton Card__boton--active">Submit-enviar</button>
        </div>
    </div>
</body>

</html>