header {
    background-color: #d824a7;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: -7px 7px 30px 2px rgba(0, 0, 0, 0.69);
}

.Logo {
    width: 75px;
    height: 75px;

}

.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.Menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
}

.Menu li {
    transition: 0.5s;
}

.Menu li:hover {
    transform: translateY(-3px);
}

.Enlace {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.brand h1 {
    font-size: 20xp;
    color: #fff;
}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
}