header {
    background-color: #d824a7;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: -7px 7px 30px 2px rgba(0, 0, 0, 0.69);
}

.Logo {
    width: 75px;
    height: 75px;

}

.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.Menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    
    width: 100%;
    background-color: #b83a96;
    padding-top: 15px;
}

.Menu li {
    transition: 0.5s;
}

.Menu li:hover {
    transform: translateY(-3px);
}

.Enlace {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.brand h1 {
    font-size: 50px;
    color: #fff;
}

.brand {
    display: flex;
    align-items: center;
    gap: 16px;
}
.brand__icon {
    color: #fff;
    font-size: 3rem;
    display: none !important;
}
.brand__contenido {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (width <= 480px) {
 
    .Menu {
        flex-direction: column;
        align-items: start;
        padding: 0%;
    }

    .Menu ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #b83a96;
        padding-block: 15px;
    }

    .brand{
        padding: 13px;
        justify-content: space-between;
        width: calc(100% - 40px);
    }

    .brand__icon {
        display: block !important;
    }
    .Menu--hidden ul {
        display: none;
     }
}