.contenedor-descripcion {
    display: flex;
    max-width: 1310px;
    margin: auto;
    margin-top: 80px;
    gap: 30px;
    align-items: center;
    margin-bottom: 80px;
}
.Restaurante-descripcion {
    width: 350px;
    margin-bottom: 85px;
    padding: 20px;
    align-items: center;

}