.contenedor-descripcion {
    display: flex;
    max-width: 1310px;
    margin: auto;
    margin-top: 80px;
    gap: 80px;
    text-align: center;
    margin-bottom: 60px;
}

.Restaurante-bar {
    width: 50vw;
    height: 50VW;
    width: 100%;
    margin: auto;
    align-items: center;
    margin-top: 120px;
}