* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: rgb(220, 129, 207);
    background: linear-gradient(0deg, rgba(220, 129, 207, 0.8889727766106442) 0%, rgba(205, 85, 164, 0.9085806197478992) 30%, rgba(226, 82, 187, 0.9197851015406162) 70%, rgba(216, 36, 167, 1) 100%);
}
.header {
    background-color: #d824a7;

}
.Logo {
    width: 80px;
    height: 80px;
}
.h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Restaurante-bar {
    width: 80vw;
    height: 60VW;
    margin: auto;
    margin: auto;
    width: 100%;
}
.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
}
.Enlace {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contenedor-descripcion {
    display: flex;
    margin-top: 80px;
   max: width 1100px;
   margin: auto;

}