<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sension Sundays</title>
    <link rel="Sundays" href="./../img/ramen.png" type="Ramen">
    <link rel="stylesheet" href="../../Assets/css/formulario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="Menu">
            <div class="contenedor">
                <img class=" Logo" src="../img/ramen.png" alt="Logo principal"">
            <h1 class=" h1">Sundays iniciar sesion</h1>
            </div>
            <ul>
                <li><a class=" Enlace" href="#">Inicio</li>
                </li>
                <li><a class="Enlace" href="#AcercadeNosotros">Acerca de Nosotros</a></li>
                <li><a class="Enlace" href="./Assets/views/form.html">Blog</>
                </li>
                <li><a class="Enlace" href="./Assets/view/Form.html">Iniciar sesion</>
                </li>
        </nav>
    </header>
    <main>
        <a href="./../../index.html">Regresar</a>
    </main>
</body>
<footer>
    <span>

    </span>
</footer>

</html>